<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Han llamado a tu número</h1>
  <p>
    Ve a la puerta te están esperando
  </p>
  <p>
    Saludos.
    <br>
    Equipo Wait For it.
  </p>
</body>

</html>