<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Deja de hacer filas! Bienvenido a Wait For It</h1>
  <p>Hola <%= @user.name %></p>
  <p>
    Ya eres parte de las personas que no harán más filas innecesarias.
  </p>
  <p>
    Para iniciar sesión deber ir al siguiente link: <%= @url %> y luego ingresar tu correo electrónico:
    <%= @user.email %> y contraseña.
  </p>
</body>

</html>